
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
Release
Debug
ipch
*.sdf
*.opensdf 
#if we close vs2010 before commit, then the .opensdf will not show in sourceTree, everything will be ok.